@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.App{
  width: 100vw;
  overflow: hidden;
}

.footer{
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  height: 8vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.svg{
  transition: 50ms;
  /* border: 1px solid black; */
  border-radius: 789px;
  height: 6vh;
  width: 6vh;
  display: grid;
  place-content: center;
}
.svg:active{
  background-color: rgba(184, 54, 254, 0.121);
}